<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498490536049-85tgiia4kuh83ru3iih4daapr0je3hc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498490536049-85tgiia4kuh83ru3iih4daapr0je3hc5</string>
	<key>API_KEY</key>
	<string>AIzaSyACsgtbl24TYdWgqUescOLQpju5PpesTyA</string>
	<key>GCM_SENDER_ID</key>
	<string>498490536049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostnstay</string>
	<key>PROJECT_ID</key>
	<string>host-and-stay-2070c</string>
	<key>STORAGE_BUCKET</key>
	<string>host-and-stay-2070c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498490536049:ios:0863b2d3013675e8956bd0</string>
</dict>
</plist>